<p>user works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
        <div>
            <label> marks:</label>
            <input type="text" [(ngModel)]="searchVal"/>
            <label> fees:</label>
            <input type="text" [(ngModel)]="searchVal2"/>
            <button (click)="postData()">Post Data</button><br>
            
            
            </div>
          
      <tr>
        <th>id</th>
        <th>name</th>
        <th>marks</th>
        <th>fees</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.marks}}</td>
        <td>{{user.fees}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

